/* .app{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg,var(--primary-color),var(--second-color));
} */
* {
  margin: 0;
  padding: 0;
}
button {
    cursor: pointer;
}
main {
  display: grid;
  height: 80vh;
  width: 60vh;
  grid-template-rows: 10% auto 5%;
  row-gap: 10px;
  padding: 10px;
  background-color:#fff6f6;
}
.header {
  border: 1px solid white;
  padding: 10px;
}
.header h1 {
   color: #3a3939;
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.form-group {
  width: 100%;
  display: flex;
  column-gap: 5px;
}
.form-group > * {
  padding: 10px;
}
.form-group input {
  flex-basis: 75%;
  outline: none;
}
.form-group .btn {
  flex-basis: 20%;
  background: none;
  border: none;
  background-color: #44ee44;
  font-weight: bold;
}
.form-group .btn:hover {
  background-color: #21f821;
}

.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 300px;
  overflow-y: scroll;
}
.task-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #5f5f5f;
    animation: fadeOut .5s ease-in-out reverse;
}
@keyframes fadeOut {
    to{
        opacity: 0;
        transform: translateX(-100px);
    }
    from{
        opacity: 1;
        transform: translateX(0);
    }
}
.task-item {
    padding: 10px 0px;
}
.task-item .info{
    flex-basis: 60%;
    padding-left: 5px;
}
.task-item .info h5{
    color: #3a3939;
}
.task-item .action {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}
.task-item .action button{
    padding:5px;
    margin: 0 5px;
    border: none;
    color: #d8d8d8;
}

.task-item .action .edit{
    background: #3838f0;
}
.task-item .action .delete{
    background: #fc0a0a;
}
.line{
  text-decoration: line-through;
}